[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendored/DirectX-Headers"]
	path = vendored/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "vendored/glm"]
	path = vendored/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendored/stb"]
	path = vendored/stb
	url = https://github.com/nothings/stb
[submodule "vendored/tinyobjloader"]
	path = vendored/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
